.Contact {
    width: 300px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 0 auto;
    text-align: center;
}

.Contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.Contact p {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
}

.Contact svg {
    fill: var(--yellow);
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}