* {
  margin: 0;
  padding: 15;
  box-sizing: border-box;
  list-style: none;
  color: white;
  background-color: black;
}

body {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;

}

a {
  text-decoration: none;
}

.Details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 25px;
}

.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 25px;
}

.Results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

button {
  cursor: pointer;
  border-radius: 5px;
}

input {
  cursor: pointer;
  border-radius: 6px;
}